.gradient-background {
    background: linear-gradient(300deg,  #FDC82F,#008542);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    
  }


  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

 .outset {
    border-style: outset;
  }

  .tudo {
    font-family: "Roboto", sans-serif;
   
  }

  #h1-home{
    font-weight: bold;
  }

.justified-center {
  text-align: center;
}

.logo-petro-navbar {
    height: 40px;
}

.branco {
    fill: white;
    color: white;
}

.logo-nome-navbar {
    height: 20px;
    margin: 0 10px;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.interior-cadastro {
  display: flex;
  flex-direction: column;

}

#container-home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 80%;
  align-items: center;
}

.paragrafo-home {
  font-size: 1.5rem;
}

.nav-link {
    font-size:x-large !important;
}

.round-corner {
  border-radius: 50px;;
}

.div-container {
    display: flex;
    justify-content: center;
    align-items: top;
}

.main-div {
    background-color: white;
    width: 480px;
    height: 640px;
    /* border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px; */
}